<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66810557991-ulbc7n6dgmhi70iu0i0u9gf9ilnf269k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66810557991-ulbc7n6dgmhi70iu0i0u9gf9ilnf269k</string>
	<key>API_KEY</key>
	<string>AIzaSyDGgHhVv5o8NARZsBX_qL5yfH_nvPexaLI</string>
	<key>GCM_SENDER_ID</key>
	<string>66810557991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wanderboard</string>
	<key>PROJECT_ID</key>
	<string>wanderboard-1</string>
	<key>STORAGE_BUCKET</key>
	<string>wanderboard-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66810557991:ios:a8f8b9164ea51127e88002</string>
</dict>
</plist>