<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.66810557991-ulbc7n6dgmhi70iu0i0u9gf9ilnf269k</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Kakao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaobc1969cc0cd1ae85004329699d424b47</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>165797900278-ika1t7d1oucnlrng07ege1e66cq33h3a.apps.googleusercontent.com</string>
	<key>KAKAO_APP_KEY</key>
	<string>fdaab28c4efeacf52167771728104865</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist>
